<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.song.tasty.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mvvm.ui.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>


        <activity
            android:name=".mvvm.ui.SplashActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/App_SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <activity android:name="com.song.tasty.demo.adjustableheader.AdjustableHeaderActivity">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->

<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--        <activity android:name="com.song.tasty.demo.adjustableheader.AdjustableHeader2Activity">-->
<!--        </activity>-->




<!--        <activity-->
<!--        android:name="io.flutter.embedding.android.FlutterActivity"-->
<!--        android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"-->
<!--        android:hardwareAccelerated="true"-->
<!--        android:windowSoftInputMode="adjustResize"-->
<!--        android:theme="@style/AppTheme_Flutter">-->
<!--                    <meta-data-->
<!--                        android:name="io.flutter.app.android.SplashScreenUntilFirstFrame"-->
<!--                        android:value="true" />-->
<!--                    <meta-data-->
<!--                        android:name="io.flutter.embedding.android.SplashScreenDrawable"-->
<!--                        android:resource="@color/color_transparent" />-->
<!--    </activity>-->





        <!-- 如果您项目中的所有页面都只需要以高或宽中的一个作为基准进行适配的话, 那就只需要填写高或宽中的一个设计图尺寸即可 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />
    </application>

</manifest>